* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #aeebe4;
    font-family: "Montserrat", sans-serif;
}

.material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
    width: 28px;
    margin-bottom: 2px;
}

.text-to-whitebg {
    color: rgba(0, 0, 0, 0.70);
}

.text-to-darkbg {
    color: rgba(255, 255, 255, 1);
}

div.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 30px;
    box-shadow: 0 50px 50px -50px darkslategray;
}

.loginbtn {
    color: white;
    background-color: #1c1c1e;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 10px 12px;
    font-weight: 500;
}

div.myform {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
div.container div.myform {
    width: 270px;
    margin-right: 30px;
}

    div.container div.myform h2 {
        color: rgba(0, 0, 0, 0.70);
        margin-bottom: 20px;
        margin-top: 10%;
        margin-left: 15%;
        font-family: "Montserrat", sans-serif;
    }

        div.container div.myform input {
            border: none;
            outline: none;
            border-radius: 0;
            width: 100%;
            border-bottom: 2px solid #1c1c1e;
            margin-bottom: 25px;
            padding: 7px 0;
            font-size: 14px;
        }

        div.container div.myform button {
            border: none;
            background-color: #179c8c;
            color: white;
            border-radius: 0;
            width: 50%;
            margin-left: 25%;
            margin-bottom: 25px;
            padding: 7px 0;
            font-size: 14px;
            font-weight: normal;
        }

            div.container div.myform button:hover {
                background-color: #aeebe4;
            }

    div.container div.image img {
        width: 300px;
        pointer-events: none;
    }
