/*Announcement Board*/
.main-board {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px 0;
}

/*Registration Form*/

.picture-size {
    width: 100px;
    height: 100%;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 10px;
    color: rgb(252, 80, 0);
    display: block;
    text-align: center;
}
.div-grid {
    margin-bottom: 1%;
    display: grid;
    grid-template-columns: 36px 1fr 1fr;
    grid-template-areas:
        "idtag idval datereg";
}
.card-container {
    padding: 10px 10px 10px 10px;
    align-content: center;
}

#nameValue {
    justify-content: space-around;
    margin: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 19px;
    font-weight: 700;
    height: auto;
    text-align: left;
}

#idTag {
    grid-area: idtag;
    font-size: 18px;
    font-weight: 600;
    height: 100%;
    width:30px;
    text-align: left;
    margin-left: 10px;
}

#idValue {
    display: block;
    grid-area: idval;
    font-size: 18px;
    font-weight: 600;
    height: 100%;
    width:100%;
    text-align: left;
    margin-left: 10px;
}

#dateRegistered {
    grid-area: datereg;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
    width: auto;
    height: auto;
    margin-right: 15px;
}

.openBtn {
    font-size: 16px;
    color: white;
    font-weight: bold;
    border: none;
    background-color: transparent;
    margin: 0px;
    height: 40px;
}

.text-to-whitebg {
    color: rgba(0, 0, 0, 0.70);
}

.text-to-darkbg {
    color: rgba(255, 255, 255, 0.9);
}


/* ---------- MAIN ---------- */

.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
}

.main-title {
    display: flex;
    justify-content: space-between;
}

.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.card {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    border-radius: 10px;
    background-color: #004F34;
    vertical-align: middle;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.card-inner {
    display:block;
    text-align: center;
    justify-content: space-between;
    padding: 0px;
    width: 390px;
    vertical-align: middle;
    height: 100%;
}

    .card-inner > .material-icons-outlined {
        font-size: 45px;
    }

@media screen and (max-width: 992px) {
    .card-inner {
        width: 100%;
    }
}
